<div class="container">
	<section>
		<h1 class="center fancy">History</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum at porttitor lectus. Vivamus in condimentum ante. Ut finibus diam id consectetur accumsan. In ac ullamcorper enim, at congue lorem. Suspendisse blandit dictum congue. Maecenas a purus finibus, tincidunt lectus sed, feugiat augue. Morbi laoreet, est vel dignissim lacinia, mi lacus gravida urna, vitae placerat metus quam nec velit. Integer et consequat urna. Sed semper lectus eu lectus mollis, et fermentum ante mattis. Donec porta eros sit amet sem finibus, eget condimentum urna pharetra. Donec vel erat sed nibh vehicula dapibus. Sed tincidunt turpis vel ligula maximus, nec laoreet erat molestie. Nulla semper justo vel tellus ullamcorper, sed egestas risus commodo. Aenean convallis ipsum quis pharetra tempus. Pellentesque quis gravida justo.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum at porttitor lectus. Vivamus in condimentum ante. Ut finibus diam id consectetur accumsan. In ac ullamcorper enim, at congue lorem. Suspendisse blandit dictum congue. Maecenas a purus finibus, tincidunt lectus sed, feugiat augue. Morbi laoreet, est vel dignissim lacinia, mi lacus gravida urna, vitae placerat metus quam nec velit. Integer et consequat urna. Sed semper lectus eu lectus mollis, et fermentum ante mattis. Donec porta eros sit amet sem finibus, eget condimentum urna pharetra. Donec vel erat sed nibh vehicula dapibus. Sed tincidunt turpis vel ligula maximus, nec laoreet erat molestie. Nulla semper justo vel tellus ullamcorper, sed egestas risus commodo. Aenean convallis ipsum quis pharetra tempus. Pellentesque quis gravida justo.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum at porttitor lectus. Vivamus in condimentum ante. Ut finibus diam id consectetur accumsan. In ac ullamcorper enim, at congue lorem. Suspendisse blandit dictum congue. Maecenas a purus finibus, tincidunt lectus sed, feugiat augue. Morbi laoreet, est vel dignissim lacinia, mi lacus gravida urna, vitae placerat metus quam nec velit. Integer et consequat urna. Sed semper lectus eu lectus mollis, et fermentum ante mattis. Donec porta eros sit amet sem finibus, eget condimentum urna pharetra. Donec vel erat sed nibh vehicula dapibus. Sed tincidunt turpis vel ligula maximus, nec laoreet erat molestie. Nulla semper justo vel tellus ullamcorper, sed egestas risus commodo. Aenean convallis ipsum quis pharetra tempus. Pellentesque quis gravida justo.</p>
		<h1 class="center fancy">Staff</h1>
		<div id="staff">
			<h3 class="center fancy">Owners</h3>
				<ul class="center list-inline">
					<li><img class="staff_pic" src="http://fpoimg.com/100x100" /><br />Dave</li>
					<li><img class="staff_pic" src="http://fpoimg.com/100x100" /><br />Sue</li>
				</ul>
			<h3 class="center fancy">Bartenders</h3>
				<ul class="center list-inline">
					<li><img class="staff_pic" src="http://fpoimg.com/100x100" /><br />Danny</li>
					<li><img class="staff_pic" src="http://fpoimg.com/100x100" /><br />Sarah</li>
					<li><img class="staff_pic" src="http://fpoimg.com/100x100" /><br />Michael</li>
					<li><img class="staff_pic" src="http://fpoimg.com/100x100" /><br />John</li>
					<li><img class="staff_pic" src="http://fpoimg.com/100x100" /><br />Lisa</li>
				</ul>
			<h3 class="center fancy">Servers</h3>
				<ul class="center list-inline">
					<li><img class="staff_pic" src="http://fpoimg.com/100x100" /><br />Mindy</li>
					<li><img class="staff_pic" src="http://fpoimg.com/100x100" /><br />Darren</li>
				</ul>
		</div>
	</section>
</div>
